<div class="body">
    <h1>Nova/Editar Turma</h1>
    <label for="">Título*</label>
    <input />
    <label for="">Sub-título*</label>
    <input />
    <div class="box">
        <div class="header">Alunos Adicionados</div>
        <div class="data">
            <div class="aluno">
                <span>Pedro Barbosa</span>
                <span>ID:0001</span>
                <div>
                    <img src="/resources/Botão Alterar.png"/>
                <img src="/resources/Botão Excluir.png"/>
                </div>
                 </div>
        </div>

    </div>
    <button class="novo_aluno"><img /> Novo Aluno</button>
    <div class="new_aluno">
        <div>
        <label for="">Nome*</label>
        <input />
    </div>
        <div>    
    <label for="">ID</label>
        <input />
    </div>
    <button>Cancelar</button>
    <button>Salvar Aluno</button>    
</div>
    <button class="voltar"><img src="resources/arrow_right.png"/> Voltar </button>
    <button class="salvar">Salvar Turma</button>
</div>