
<div *ngIf="!(user$ | async) as user" >
    <div class="header" style="justify-content: center;">
        <img class="logo" src="/resources/logo.png" (click)="logo()"/>
    </div>
</div>
    <div *ngIf="user$ | async as user" class="header">
    <img class="logo" src="/resources/logo.png" (click)="logo()" />
    <div class="header-options">
        <span>Questões</span>
        <span>Avaliações</span>
        <span>Turmas</span>
        <span>Sobre</span>
    </div>
    <div class="user">
        <img src="/resources/default_user_logo.png"/>
        <span>Olá,{{user.name}}</span>
        <div class="dropdown-menu">
            <li  class="content"><a (click)="conta()">Conta</a></li>
            <li (click)="logout()" class="content"><a>Sair</a></li>
        </div>
    </div>
</div>
