
.header{
    background-color: #002436;
    display: flex;
    justify-content: space-between;
    align-items:end;
    height: 172px;
    width: 100%;
    flex:1;
}

.logo{
    margin:3px;
}

.header-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #324A5F;
    flex:0.6;
    height:45px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.header-options span{
    color: white;
    margin:5px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex:2;
    border-left: 1.5px solid white;
}
.header-options span:first-child{
    border-left: none;
}

.user{
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-right:10px; 
    transition: all .5s ease;
}
.user span{
    margin-top:10px;
    color:white;
}

.dropdown-menu{
    display: none;
    width: 120px;
    padding-top:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    list-style-type: none;
    background-color: #002436;
}

.dropdown-menu .content{
    color:white;
    width: 100%;
    height:40px;
    text-align: center;
}
.dropdown-menu .content a{
    text-decoration: none;
    color:white;
}
.dropdown-menu .content:hover{
    cursor: pointer;
    opacity: 0.7;
}

.user:hover .dropdown-menu{
    height:90px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    position: absolute;
    top:170px;
}
