<div class="main_body">
    <form [formGroup]="senhaForm" class="form_area" (ngSubmit)="submit()">
        <div class="input">
            <label for="senhaAtual"> Nome</label>
            <input id="senhaAtual" type="password" formControlName="senhaAtual" required />
        </div>
        <div class="input">
            <label for="novaSenha"> Email</label>
            <input id="novaSenha" type="password" formControlName="novaSenha" required />
        </div>
        <button [disabled]="!senhaForm.valid" type="submit">Salvar</button>
    </form>
    <div id="container">
        Foto de Perfil:
        <div class="foto-perfil-container">
            <img src="/resources/default_user_logo.png" alt="Foto de Perfil" class="foto-perfil" />

            <label for="upload-foto" class="botao-upload">
                Enviar nova foto
            </label>
            <input type="file" (change)="onFileSelected($event)" id="upload-foto" accept="image/*" hidden />
        </div>
    </div>
</div>