<div class="body">
<div class="textArea">Bem-vindo ao futuro da educação: uma plataforma revolucionária para <br> simplificar e aprimorar o processo de avaliação
    escolar.
    <br>
    <br>
    Imagine um lugar onde a criação, aplicação e correção de avaliações se <br> tornam tarefas simples e eficientes. Aqui, os
    educadores têm acesso a <br> ferramentas intuitivas e poderosas que os ajudam a economizar tempo, <br> fornecer feedback
    valioso e personalizado, e acompanhar o progresso de <br> seus alunos de forma mais eficaz.
    <br>
    Com nossa plataforma, você pode:
</div>
<div>
<ul>
    <li>Elaborar suas avaliações no nosso site e as corrigir com seu smartphone. Esta é a idéia do Questionarium.</li>
    <li> Criar questões discursivas ou objetivas, com figuras, gráficos, ou equações.</li>
    <li>Diminuir o tempo para elaboração de avaliações, reutilizando suas questões cadastradas, ou selecionando questões
        do banco de questões públicas.
    </li>
    <li>Criar uma prova diferente para cada aluno, embaralhando automaticamente a ordem das questões.
    </li>
    <li>Corrigir 30 provas em menos de 10 minutos! Sem cansaço nem erros.</li>
</ul>
</div>
</div>
<a routerLink="/devs">Conheça a equipe</a>