.body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:5%;
}

.textArea{
    padding-left: 2%;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.body div{
    width:100%;
}


ul{
    margin-top: 4%;
}
ul li{
    font-size:20px;
}

a{
    position: absolute;
    top:40%;
    right:5%;
}