body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    /* Fundo claro */
    color: #333;
    /* Texto padrão */
}

.body {
    font-family: 'Arial', sans-serif;
    width: 90%;
    margin: 3% auto;
    padding: 20px;
    background-color: #FFFFFF;
    /* Fundo branco */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.textArea {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.8;
    color: #002436;
    /* Azul escuro padronizado */
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin: 20px 40px;
    padding: 0;
    color: #002436;
    /* Azul escuro padronizado */
}

ul li {
    margin-bottom: 15px;
    font-size: 1em;
    line-height: 1.6;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #4caf50;
    /* Verde padronizado */
    font-size: 1.2em;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #3e8e41;
    /* Verde mais escuro no hover */
}