<div class="body">
    <div class="header">
        <h1>Relatórios</h1>
        <button type="button" (click)="cancel()">
            Voltar
        </button>
    </div>
    <div class="container">
        <div class="info-box">
            <h2>Aplicação</h2>
            <div>
                <p><strong>Data:</strong> {{ relatorio.date | date:'dd/MM/yyyy' }}</p>
                <p><strong>Turma:</strong> {{ relatorio.classroom }}</p>
                <p><strong>Disciplina:</strong> {{ relatorio.course }}</p>
                <br />
                <p><strong>Provas geradas:</strong> {{ relatorio.totalRecords }}</p>
                <p><strong>Provas corrigidas:</strong> {{ relatorio.correctedRecords }}</p>
                <p>
                    <strong>Provas não corrigidas:</strong> {{ relatorio.pendingRecords }}
                </p>
                <p><strong>Assuntos:</strong></p>
                <div *ngFor="let tag of tags">
                    <p>> {{ tag }}</p>
                </div>
            </div>
        </div>
        <div class="relatorio-table">
            <table>
                <tr>
                    <th>Código</th>
                    <th>Identificador</th>
                    <th>Acertos</th>
                    <th>Erros</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let aplicacao of relatorio.records">
                    <td>{{ aplicacao.code }}</td>
                    <td>{{ aplicacao.identifier ? aplicacao.identifier : '-' }}</td>
                    <td>{{ aplicacao.correctAnswers == 0 ? '-' : aplicacao.correctAnswers }}</td>
                    <td>{{ aplicacao.incorrectAnswers == 0 ? '-' : aplicacao.incorrectAnswers }}</td>
                    <td>{{ aplicacao.isGraded? "CORRIGIDO" : "NÃO CORRIGIDO" }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="export-buttons">
    <button title="Exportar XLSX">
        <img src="/resources/xlsx.png" alt="XLSX" />
    </button>
    <button title="Exportar DOC">
        <img src="/resources/docx.png" alt="DOC" />
    </button>
    <button title="Exportar PDF">
        <img src="/resources/pdf.png" alt="PDF" />
    </button>
    <button title="Exportar CSV">
        <img src="/resources/csv.png" alt="CSV" />
    </button>
</div>