body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4; /* Fundo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centraliza verticalmente */
}

.email_modal {
    width: 90%;
    max-width: 400px;
    background-color: #FFFFFF; /* Fundo branco */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.email_modal h2 {
    font-size: 1.5em;
    color: #002436; /* Azul escuro padronizado */
    margin-bottom: 20px;
}

.email_modal input {
    width: calc(100% - 20px); /* Para evitar overflow */
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}

.email_modal input:focus {
    border-color: #4caf50; /* Verde padronizado */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Efeito de foco */
}

.email_modal button {
    padding: 10px 20px;
    background-color: #4caf50; /* Verde padronizado */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 10px;
}

.email_modal button:hover {
    background-color: #3e8e41; /* Verde mais escuro no hover */
}

.email_modal a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #002436; /* Azul escuro padronizado */
    font-size: 0.9em;
}

.email_modal a:hover {
    text-decoration: underline;
    color: #4caf50; /* Verde no hover */
}
