<!--
<h2 #titulo>Avaliações</h2>
<div class="topArea">
    <div class="inputArea">
        <input [(ngModel)]="searchValue" (input)="search()" placeholder="Pesquisar avaliações..."
            aria-label="Pesquisar avaliações" />

        <img src="/resources/magnifier.png" alt="Pesquisar" />
    </div>
    <button class="novaButton" routerLink="/avaliacao/criar">
        <img src="/resources/cross.png" alt="Nova avaliação" />
        Nova
    </button>
    -->
<!-- 
    <button class="montarButton" (click)="montar()">
        <img src="/resources/gear.png" />
        Aplicar Avaliação
    </button>
    -->
<!--
</div>
<div class="gridArea">
    <div *ngFor="let assessment of filteredAssessments" (click)="select_assessment(assessment.id)"
        class="avaliacaoElement">
        <span>Aval {{assessment.course}}</span>
        <span>{{assessment.department}} {{assessment.institution}}</span>
        <div></div>
        <span>{{assessment.creationDateTime | date:'dd/MM/yyyy'}}</span>
    </div>
</div>
-->
<div class="container">
    <div class="header">
        <h1>Avaliações</h1>
    </div>

    <div class="filters">
        <div class="filter-group">
            <label for="">Descrição: </label>
            <input [(ngModel)]="searchDescricao" (input)="search()" class="form-select"
                placeholder="Pesquisar avaliações..." aria-label="Pesquisar avaliações" />
        </div>
        <div class="filter-group">
            <label for="">Instituição: </label>
            <input [(ngModel)]="searchInstituicao" (input)="search()" class="form-select"
                placeholder="Pesquisar avaliações..." aria-label="Pesquisar avaliações" />
        </div>
        <div class="filter-group">
            <label for="">Disciplina: </label>
            <input [(ngModel)]="searchDisciplina" (input)="search()" class="form-select"
                placeholder="Pesquisar avaliações..." aria-label="Pesquisar avaliações" />
        </div>
        <div class="filter-group">
            <label for="">Classe: </label>
            <input [(ngModel)]="searchClasse" (input)="search()" class="form-select"
                placeholder="Pesquisar avaliações..." aria-label="Pesquisar avaliações" />
        </div>
        <button class="btn-save nova-avaliacao-btn" routerLink="/avaliacao/criar">Nova Avaliação</button>
    </div>

    <div class="add-question-form">
        <div class="assessment-list-header">
            <span class="assessment-col">ID</span>
            <span class="assessment-col">Descrição</span>
            <span class="assessment-col">Instituição</span>
            <span class="assessment-col">Disciplina</span>
            <span class="assessment-col">Classe</span>
            <span class="assessment-col actions-header">Ações</span>
        </div>
        <div *ngFor="let assessment of filteredAssessments" class="assessment-row">
            <span class="assessment-col">{{ assessment.id }}</span>
            <span class="assessment-col">{{ assessment.description }}</span>
            <span class="assessment-col">{{ assessment.institution }}</span>
            <span class="assessment-col">{{ assessment.course }}</span>
            <span class="assessment-col">{{ assessment.classroom }}</span>
            <span class="assessment-col actions">
                <button class="btn-generate" (click)="updateAssessment(assessment)">Atualizar</button>
                <button class="btn-save" (click)="applyAssessment(assessment)">Aplicar</button>
                <button class="btn-cancel" (click)="deleteAssessment(assessment)">Deletar</button>
            </span>
        </div>
    </div>

    <app-aplicar-avaliacao *ngIf="modalEnabled" (closeModalEvent)="fecharModal()"
        (applyEvent)="onApplyAssessment($event)">
    </app-aplicar-avaliacao>
</div>