<div class="container">
  <div class="header" style="text-align: center;">
    <h1>{{this.questionId ? "Editar Questão" : "Adicionar Questão"}}</h1>
  </div>

  <div class="filters">
    <div class="filter-group">
      <label for="categoria">Categoria:</label>
      <select id="categoria" class="form-select" (change)="onCategoriaChange($event)" multiple>
        <option value="-1" selected>Selecione uma categoria</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.description }}</option>
      </select>
      <div *ngIf="selectedCategorias.length > 0" class="selected-tags">
        <span *ngFor="let tagId of selectedCategorias" class="badge">
          {{ getTagName(tagId) }}
        </span>
      </div>
    <div class="filter-group">
      <label for="tipo">Discursiva: </label>
      <input type="checkbox" id="tipo" name="tipo" (change)="onDiscursivaChange($event)" [(ngModel)]="discursiva"/>
    </div>
    <div class="filter-group" *ngIf="discursiva">
      <label for="numberLines">Número de linhas:</label>
      <input id="numberLines" name="numberLines" type="number" max="15" min="1" [(ngModel)]="numberLines"/>
    </div>
    <div class="filter-group">
      <label for="nivel">Nível:</label>
      <select id="nivel" class="form-select" (change)="onNivelChange($event)" [(ngModel)]="selectedNivel">
        <option value="" selected>Selecione uma opção</option>
        <option *ngFor="let nivel of niveis" [value]="nivel.value">{{ nivel.label }}</option>
      </select>
    </div>
    <div class="filter-group">
      <label for="access">Pública: </label>
      <input type="checkbox" id="access" name="access" (change)="onAccessChange($event)" [(ngModel)]="access"/>
    </div>
  </div>
  </div>

  <div class="add-question-form" >
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">

    <label for="enunciado">ENUNCIADO:</label>
    <textarea id="enunciado" rows="5"
      placeholder="Escreva o enunciado aqui..." id="enunciado" type="text" formControlName="enunciado" required [(ngModel)]="enunciado"></textarea>
      <div *ngIf="questionForm.get('enunciado')?.invalid && questionForm.get('enunciado')?.touched" class="error-message">
        O enunciado é obrigatório.
      </div>

    <div *ngIf="showNoNivelSelected" class="error-message">
      Selecione um nível de educação.
    </div>

    <div *ngIf="showCorrectAlternativeError" class="error-message">
      Selecione uma alternativa correta.
    </div>

    <div class="alternatives" *ngIf="!discursiva">
      <div class="alternative" [class.selected]="questionForm.get('isCorrect')?.value === 1">
        <input type="radio" id="correctA" formControlName="isCorrect" [value]="1"/>
        <label for="alternative" style="margin-right: 5px;"> A)</label>
        <textarea id="alternative" type="text" placeholder="Escreva a alternativa"
          rows="1" formControlName="alternativa"></textarea>
        <textarea id="explicacao" type="text" placeholder="Escreva a explicação"
          rows="1" formControlName="explicacao"></textarea>
        </div>
        <div *ngIf="questionForm.get('alternativa')?.invalid && questionForm.get('alternativa')?.touched" class="error-message">
          Uma alternativa é obrigatória.
        </div>
      <div class="alternative" [class.selected]="questionForm.get('isCorrect')?.value === 2">
        <input type="radio" id="correctB" formControlName="isCorrect" [value]="2"/>
        <label for="alternativeB" style="margin-right: 5px;"> B)</label>
        <textarea id="alternativeB" type="text" [placeholder]='this.discursiva ? "Escreva a resposta" : "Escreva a alternativa" '
          rows="1" formControlName="alternativaB"></textarea>
        <textarea id="explicacaoB" type="text" placeholder="Escreva a explicação"
          rows="1" formControlName="explicacaoB"></textarea>
      </div>
      <div class="alternative" [class.selected]="questionForm.get('isCorrect')?.value === 3">
        <input type="radio" id="correctC" formControlName="isCorrect" [value]="3"/>
        <label for="alternativeC" style="margin-right: 5px;"> C)</label>
        <textarea id="alternativeC" type="text" placeholder="Escreva a alternativa"
          rows="1" formControlName="alternativaC"></textarea>
        <textarea id="explicacaoC" type="text" placeholder="Escreva a explicação"
          rows="1" formControlName="explicacaoC"></textarea>
      </div>
      <div class="alternative" [class.selected]="questionForm.get('isCorrect')?.value === 4">
        <input type="radio" id="correctD" formControlName="isCorrect" [value]="4"/>
        <label for="alternativeD" style="margin-right: 5px;"> D)</label>
        <textarea id="alternativeD" type="text" placeholder="Escreva a alternativa"
          rows="1" formControlName="alternativaD"></textarea>
        <textarea id="explicacaoD" type="text" placeholder="Escreva a explicação"
          rows="1" formControlName="explicacaoD"></textarea>
      </div>
      <div class="alternative" [class.selected]="questionForm.get('isCorrect')?.value === 5">
        <input type="radio" id="correctE" formControlName="isCorrect" [value]="5"/>
        <label for="alternativeE" style="margin-right: 5px;"> E)</label>
        <textarea id="alternativeE" type="text" placeholder="Escreva a alternativa"
          rows="1" formControlName="alternativaE"></textarea>
        <textarea id="explicacaoE" type="text" placeholder="Escreva a explicação"
          rows="1" formControlName="explicacaoE"></textarea>
      </div>
    </div>

    <!-- <div class="alternatives" *ngIf="discursiva">
      <div class="alternative">
        <label for="alternative" style="margin-right: 5px;"></label>
        <textarea id="alternative" type="text" formControlName="alternativa" placeholder="Escreva a alternativa"
          rows="5"></textarea>
        <div *ngIf="questionForm.get('alternativa')?.invalid && questionForm.get('alternativa')?.touched" class="error-message">
          A alternativa é obrigatória.
        </div>
      </div>
    </div> -->

    <button type="button" class="btn-generate" (click)="generateQuestion()">Gerar Automaticamente</button>
    <div class="actions">
      <button class="btn-save" type="submit" >Salvar</button>
      <button class="btn-cancel" type="button"  (click)="deleteQuestion()">Excluir</button>
      <button class="btn-cancel" type="button" style="background-color: gray;" (click)="cancel()">Voltar</button>
    </div>
  </form>
  </div>


  <app-gerar-questao-modal [style.display]="modalEnabled ? 'block' : 'none'"
    (closeModalEvent)="fecharModal()" 
    (generatedQuestionEvent)="carregarQuestaoGerada($event)"></app-gerar-questao-modal>
</div>