.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.filters,
.add-question-form,
.actions {
  margin-bottom: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
  padding: 10px;
  justify-content: center;
  background-color: #002436;
  color: white;
  border-radius: 5px;
}

.filter-group {
  display: flex;
  flex-direction: row;
}

.form-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 5px;
}

.search {
  display: flex;
  align-items: center;
  gap: 0;
}

.search input {
  flex: 1;
  padding: 8px;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  box-sizing: border-box;
  width: 300px;
}

.search .btn-search {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
}

.search .btn-search:hover {
  background-color: #0056b3;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #D9D9D9;
  border-radius: 5px;
  border: none;
}

.alternatives {
  display: flex;
  flex-direction: column;
}

.alternative {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.alternative textarea {
  flex: 1;
  margin-left: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.btn-save,
.btn-cancel,
.btn-generate {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn-save {
  background-color: #4caf50;
  color: white;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
}

.btn-generate {
  background-color: #002436;
  color: white;
}
