.main_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-left: 11%;
    height:80%;    
}

.title{
    margin-top: 3%;
    margin-bottom: 2%;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form_area{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: repeat(7,14%);
    column-gap: 5%;
    height: 70%;
    width: 95%; 
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input label{
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
}

.input input , .input select{
    width: 100%;
    height: 55%;
    border: none;
    background-color: #D9D9D9;
    font-size: 1em;
    padding-left: 3%;
    box-sizing: border-box;
}

.separator{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator span{
    font-family: 'Inter';
    font-size: 1em;
    color: rgba(0, 0, 0, 0.3);
    flex:1;
    border-bottom: 1px solid black;
}

button{
    background-color: #C6D4FF;
    height:5%;
    width: 8%;
    border:none;
    border-radius: 7px;
}

button:hover{
    color:white;
    cursor:pointer;
}

.excluir{
    background-color: red;
    height:4%;
    width:7%;
    border-width: 0px;
    border-radius: 20px;
    position: absolute;
    bottom:10%;
    right:3%;
}

.excluir:hover{
    color:white;
}