.area {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area img {
    position: absolute;
    right: 3%;
    top: 16%;
}

.cabecalho {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1%;
    width: 95%;
    margin-bottom: 2%;
}

.cabeçalho_area {
    background-color: #324A5F;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 4%;
    padding: 0.5%;
}

.cabeçalho_area .input {
    height: 3em;
}

.input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input span {
    font-size: 0.9em;
    color: white;
    font-weight: normal;
    width: 25%;
    margin-left: 15%;
}

.input input {
    height: 50%;
    width: 65%;
    border-radius: 0.2em;
    border: none;
    background-color: #D9D9D9;
}

.button_area {
    display: flex;
    justify-content: end;
    margin-top: 0.5%;
    height: 30%;
}

.button_area button {
    height: 40%;
    width: 10%;
    border-radius: 0.5em;
    border: none;
}

.input_text {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
}

.input_text span {
    margin-top: 3%;
}

.input_text textarea {
    width: 100%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1em;
    background-color: #D9D9D9;
}

.button_area button:first-child {
    background-color: #C6D4FF;
    margin-right: 2%;
}

.button_area button:last-child {
    background-color: #002436;
    color: white;
}

.question_area {
    width: 90%;
    margin-bottom: 15%;
}


.question {
    padding: 15px;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1), -1em 0 .4em rgba(0, 0, 0, 0.1);
    height: 30%;
    margin-top: 30px;

}

.question div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.question div div {
    width: 7%;
    height: 40px;
    border-radius: 10px;
}


.question span:nth-child(2) {
    overflow: hidden;
    width: 70%;
}

.question img {
    position: inherit;
    height: 50px;
}

.bottom-button-area {
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.bottom-button-area button:first-child {
    margin-right: 70%;
    margin-left: 0%;
    width: 200px;
    background-color: #6BE061;
}

.bottom-button-area button {
    margin-left: 2%;
    width: 5%;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 10px;
    background-color: #78F05A;
}

.bottom-button-area button:nth-child(2) {
    background-color: #FF8A8A;
}