.area {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area img {
    position: absolute;
    right: 3%;
    top: 16%;
}

.cabecalho {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1%;
    width: 95%;
    margin-bottom: 10%;
}

.cabeçalho_area {
    background-color: #324A5F;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 4%;
    padding: 0.5%;
}

.cabeçalho_area .input {
    height: 3em;
}

.input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input span {
    font-size: 0.9em;
    color: white;
    font-weight: normal;
    width: 25%;
    margin-left: 15%;
}

.input input {
    height: 50%;
    width: 65%;
    border-radius: 0.2em;
    border: none;
    background-color: #D9D9D9;
}

.button_area {
    display: flex;
    justify-content: end;
    margin-top: 0.5%;
    height: 50%;
}

.button_area button {
    height: 40%;
    width: 10%;
    border-radius: 0.5em;
    border: none;
}

.input_text {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
}

.input_text span {
    margin-top: 3%;
}

.input_text textarea {
    width: 100%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1em;
    background-color: #D9D9D9;
}

.button_area button:first-child {
    background-color: #C6D4FF;
    margin-right: 2%;
}

.button_area button:last-child {
    background-color: #002436;
    color: white;
}