<div class="area">
    <h1>Criação de Avaliação</h1>
    <div class="cabecalho">
        <div class="cabeçalho_area">
            <div class="input">
                <span>Instituição</span>
                <input [(ngModel)]="header.institution" placeholder="Instituição" aria-label="Instituição" />
            </div>
            <div class="input">
                <span>Departamento</span>
                <input [(ngModel)]="header.department" placeholder="Departamento" aria-label="Departamento" />
            </div>
            <div class="input">
                <span>Curso</span>
                <input [(ngModel)]="header.course" placeholder="Curso" aria-label="Curso" />
            </div>
            <div class="input">
                <span>Turma</span>
                <input [(ngModel)]="header.classroom" placeholder="Turma" aria-label="Turma" />
            </div>
            <div class="input">
                <span>Professor</span>
                <input [(ngModel)]="header.professor" placeholder="Professor" aria-label="Professor" />
            </div>
            <div class="input_text instructions">
                <span>Instruções</span>
                <textarea [(ngModel)]="header.instructions" placeholder="Instruções" aria-label="Instruções"></textarea>
            </div>
        </div>
    </div>



    <div class="button_area">
        <button class="btn-generate" (click)="createHeader()">Criar Novo Cabeçalho</button>
        <button class="btn-generate" (click)="mostrarModal()">Carregar Cabeçalho</button>
    </div>

    <!--
    <div cdkDropListGroup class="users-container">
        <div cdkDropList [cdkDropListData]="model.questions" class="users-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let questao of model.questions;let i = index" class="user">

                <div class="question" cdkDrag>
                    Questão {{pad((i + 1).toString(),2)}}
                    <div>
                        <span>Instituição: {{model.institution}}</span>
                        <span>Enunciado: {{questao.header}}</span>
                        <div id="type-button"
                            [ngStyle]="{'background-color': questao.accessLevel == 0  ? '#BBE8BA' : 'red'}">
                            {{questao.accessLevel == 0 ? "Pública" : "Privada"}}
                        </div>
                        <input [(ngModel)]="questao.weight" />
                        <div>
                            <button class="remover-btn" (click)="removerQuestao(questao.id)">Remover</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

-->


    <div cdkDropListGroup class="question_area">
        <div class="question-list" cdkDropList [cdkDropListData]="model.questions" (cdkDropListDropped)="drop($event)">
            <div class="question" cdkDrag *ngFor="let questao of model.questions; let i = index; trackBy: trackByIndex">
                Questão {{pad((i + 1).toString(),2)}}
                <div>
                    <span>Instituição: {{model.institution}}</span>
                    <span>Enunciado: {{questao.header}}</span>
                    <div id="type-button"
                        [ngStyle]="{'background-color': questao.accessLevel == 0  ? '#BBE8BA' : 'red'}">
                        {{questao.accessLevel == 0 ? "Pública" : "Privada"}}
                    </div>
                    <input [(ngModel)]="questao.weight" />
                    <div>
                        <button class="remover-btn" (click)="removerQuestao(questao.id)">Remover</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bottom-button-area">
        <button (click)="mostrarModalQuestao()">Nova Questão</button>
        <button (click)="return_assessment()">Cancelar</button>
        <button (click)="saveHeader()">Salvar</button>
    </div>
    <a href="">Crie sua questão aqui</a>
    <div>
        <p></p>
    </div>

    <app-criar-cabecalho-modal *ngIf="modalCreateCabecalhoEnabled"
        (closeModalEvent)="fecharCreateCabecalhoModal()"></app-criar-cabecalho-modal>
    <app-consultar-cabecalho-modal *ngIf="modalGetCabecalhoEnabled" (closeModalEvent)="fecharGetCabecalhoModal()"
        (clickedEvent)="setHeader($event)"></app-consultar-cabecalho-modal>
    <app-escolher-questao-modal *ngIf="modalGetQuestionEnabled" (closeModalEvent)="fecharModalQuestao()"
        (chooseQuestionEvent)="escolherQuestao($event)"></app-escolher-questao-modal>
</div>