<div class="area">

    <h1>Avaliação</h1>
    <img src="/resources/Botão Excluir.png" />

    <div class="cabecalho">
        Cabeçalho
        <div class="cabeçalho_area">
            <div class="input"><span>Instituição</span> <input /></div>
            <div class="input"><span>Disciplina</span> <input /></div>
            <div class="input"><span>Departamento</span> <input /></div>
            <div class="input"><span>Curso</span> <input /></div>
            <div class="input"><span>Professor</span> <input /></div>
            <div class="input_text"><span>Instruções</span> <textarea></textarea> </div>
        </div>
        <div class="button_area">
            <button>Salvar Cabeçalho</button>
            <button>Carregar Cabeçalho</button>
        </div>
    </div>
    <div class="question_area">
        @for (questao of questoes; track $index) {
        <div class="question">
            Questão {{this.pad(($index + 1).toString(),2)}}
            <div>
                <span>Instituição: {{questao.instituicao}}</span>
                <span>Enunciado: {{questao.enunciado}}</span>
                <div [ngStyle]="{'background-color': questao.tipo == 'Pública'  ? '#BBE8BA' : 'red'}">Pública</div>
                <img src="/resources/Eye.png" />
                <img src="/resources/pencil--change-edit-modify-pencil-write-writing.png" />
            </div>
        </div>
        }
    </div>

    <div class="bottom-button-area">
        <button>Nova Questão</button>
        <button>Cancelar</button>
        <button>Salvar</button>
    </div>
    <a href="">Crie sua questão aqui</a>

</div>