<div class="modal-backdrop">
  <div class="modal-container">
    <div class="modal-header">
      <h2>Gerar Questão</h2>
      <button class="close-button" (click)="closeModal()">X</button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="categoria">Categoria:</label>
        <select id="categoria" [(ngModel)]="selectedCategoria">
          <option value="" disabled selected>Selecione uma opção</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.value">
            {{ categoria.label }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="questionType">Tipo de Questão:</label>
        <select id="questionType" [(ngModel)]="selectedCategoria">
          <option value="" disabled selected>Selecione uma opção</option>
          <option *ngFor="let type of questionTypes" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="nivel">Nível:</label>
        <select id="nivel" [(ngModel)]="selectedNivel">
          <option value="" disabled selected>Selecione uma opção</option>
          <option *ngFor="let nivel of niveis" [value]="nivel.value">
            {{ nivel.label }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="tipo">Discursiva: </label>
        <input type="checkbox" id="tipo" name="tipo"/>
      </div>

      <button (click)="generateQuestion()">Gerar</button>

      <div class="visualization">
        <label for="visualization">Visualização:</label>
        <textarea id="visualization" rows="10" readonly>
            {{ generatedQuestion }}
          </textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="acceptQuestion()">Aceitar</button>
      <button (click)="generateAnother()">Gerar Outra</button>
      <button (click)="cancel()">Cancelar</button>
    </div>
  </div>
</div>