<div class="body">
    <div>
        <img src="/resources/default_user_logo.png"/>
        <h2>Astronauta</h2>
        <ul>
            <li>Coca-Cola (jan. 2020 - dez. 2020)</li>
            <li>NASA (jan. 2021 - presente)</li>
        </ul>
        <a>Alexandre  André Alex Jankoski </a>
        <span>Última atualização: 24 jun. 2024</span>
    </div>
    <div>
        <img src="/resources/default_user_logo.png"/>
        <h2>Astronauta</h2>
        <ul>
            <li>Coca-Cola (jan. 2020 - dez. 2020)</li>
            <li>NASA (jan. 2021 - presente)</li>
        </ul>
        <a>Alexandre  André Alex Jankoski </a>
        <span>Última atualização: 24 jun. 2024</span>
    </div>
    <div>
        <img src="/resources/default_user_logo.png"/>
        <h2>Astronauta</h2>
        <ul>
            <li>Coca-Cola (jan. 2020 - dez. 2020)</li>
            <li>NASA (jan. 2021 - presente)</li>
        </ul>
        <a>Alexandre  André Alex Jankoski </a>
        <span>Última atualização: 24 jun. 2024</span>
    </div>
    <div>
        <img src="/resources/default_user_logo.png"/>
        <h2>Astronauta</h2>
        <ul>
            <li>Coca-Cola (jan. 2020 - dez. 2020)</li>
            <li>NASA (jan. 2021 - presente)</li>
        </ul>
        <a>Alexandre  André Alex Jankoski </a>
        <span>Última atualização: 24 jun. 2024</span>
    </div>

</div>
