.body{
    width: 100%;
    height:80%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.body div{
    margin-top: 6%;
    background-color: #D9D9D9;
    width:18%;
    height:55%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 2%;
    align-items: center;
}

li{
    margin-bottom: 4%;
}

a{
    cursor: pointer;
    margin-bottom: 5%;
    color:#215FD8;
    text-decoration:underline;
}