<div class="container">
  <div class="header">
    <h1>Questões</h1>
    <button class="btn-new-question" routerLink="/questions/criar">
      <span>+ Nova Questão</span>
    </button>
  </div>
  <div class="filters">
    <div class="filter-group">
      <label for="categoria">Categoria:</label>
      <select id="categoria" class="form-select" (change)="onCategoriaChange($event)" multiple>
        <option value="0" selected>Selecione uma categoria</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.description }}</option>
      </select>
      <div *ngIf="selectedCategorias.length > 0" class="selected-tags">
        <span *ngFor="let tagId of selectedCategorias" class="badge">
          {{ getTagName(tagId) }}
        </span>
      </div>
    </div>
    <div class="filter-group">
      <label for="tipo1">Discursiva: </label>
      <input #discursivaCheckbox type="checkbox" id="tipo1" name="tipo" (change)="onDiscursivaChange('DISCURSIVA')"
        [(ngModel)]="discursiva" />
    </div>
    <div class="filter-group">
      <label for="tipo2">Multipla Escolha: </label>
      <input #escolhaCheckbox type="checkbox" id="tipo2" name="tipo" (change)="onDiscursivaChange('ESCOLHA')"
        [(ngModel)]="escolha" />
    </div>
    <div class="filter-group">
      <label for="nivel">Nível:</label>
      <select id="nivel" class="nivel-select" (change)="onNivelChange($event)" [(ngModel)]="selectedNivel">
        <option value="-1" selected>Selecione uma opção</option>
        <option *ngFor="let nivel of niveis" [value]="nivel.value">{{ nivel.label }}</option>
      </select>
    </div>
    <div class="filter-group">
      <label for="access1">Pública: </label>
      <input #publicCheckbox type="checkbox" id="access1" name="access" (change)="onAccessChange('public')"
        [(ngModel)]="accessPublic" />
    </div>
    <div class="filter-group">
      <label for="access2">Privada: </label>
      <input #privateCheckbox type="checkbox" id="access2" name="access" (change)="onAccessChange('private')"
        [(ngModel)]="accessPrivate" />
    </div>
    <div class="filter-group search">
      <input type="text" id="enunciado" name="enunciado" [(ngModel)]="enunciado"
        placeholder="Palavras-chave, enunciado..." />
    </div>
    <div class="search">
      <button class="btn-search" (click)="onFilterClick()">Pesquisar</button>
    </div>
  </div>

  <div class="add-question-form">
    <div class="assessment-list-header">
      <span class="assessment-col">Texto</span>
      <span class="assessment-col">Discursiva</span>
      <span class="assessment-col">Nível de Acesso</span>
      <span class="assessment-col">Nível</span>
      <span class="assessment-col"></span>
    </div>
    <div class="questions">
      <div class="assessment-row" *ngFor="let question of questions">
        <!-- <h3>Disciplina</h3>
        <div class="assuntos">
          <span>Assuntos</span>
        </div> -->
        <p class="assessment-col-question">{{ question.header }}</p>
        <p class="assessment-col-question">{{ question.multipleChoice ? "Não" : "Sim"}}</p>
        <p class="assessment-col-question">{{ getAcessLevel(question.accessLevel)}}</p>
        <p class="assessment-col-question">{{ question.educationLevel }}</p>
        <button class="btn-view assessment-col" (click)='viewQuestion(question.id!)'>Visualizar</button>
      </div>
    </div>
  </div>

  <span *ngIf="questions.length===0">Nenhuma questão encontrada</span>
  <div style="margin-bottom: 70px;"></div>
</div>