.sidebar{
    position: absolute;
    left:0px;
    height:80%;
    width: 11%;
    background-color:#002436;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 2%;
}

.sidebar div{
    color: white;
    font-family: 'Inter';
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    transition: all 1s ease-out;
    min-height: 10%;
}

.sidebar div:hover{
    background-color: #c6d5ff3e;
}
