.footer{
    box-sizing: border-box;
    background-color: #002436;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:76px;
    position: relative;
    left:0;
    bottom: 0;
    padding: 15px;
}

.suporte{
    color:white;
    text-decoration: none;
}

.central_name{
    color:white;
    font-size: larger;
}

.icon_box img{
    margin-right:35px;
}

