.mainBody {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    width: 100%;
    height: 80%;
}

.mainBody h1 {
    margin-bottom: 5%;
}

.mainBody .form_area {
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 25%;
    height: 40%;
}

.mainBody .senha_input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

.senha_input label {
    margin-bottom: 1%;
    padding-left: 5%;
}

.senha_input input {
    background-color: #D9D9D9;
    border: none;
    height: 100%;
    font-size: 1.2em;
    padding-left: 10px;
}

.form_area button {
    width: 20%;
    height: 10%;
    border-radius: 10%;
    background-color: #C6D4FF;
    border: none;
    align-self: center;
}

.form_area button:hover {
    color: white;
}